.footer-section {
    background-color: #6850fa; 
    color: white;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  
  .footer-left img {
    width: 60px; 
  }
  
  .footer-center {
    text-align: center;
    font-size: 18px;
  }

  .footer-right {
    text-align: right;
  }
  
  .footer-right p {
    margin-bottom: 10px;
  }
  
  .social-icons img {
    width: 30px; 
    margin-left: 10px;
  }
  